* {
    font-size: 20px;
    /*font-family: Roboto, Helvetica, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --text-color: white;
    --title-color: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    --text-dark: #212529;
    --bg-color: rgb(228, 228, 228);
}

.center {
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    color: var(--text-dark);
}

h3 {
    font-size: 28px;
    font-weight: 400;
    color: var(--text-dark);
}

a {
    font: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.divider {
    border-top: 1px solid black;
    opacity: 0.25;
    margin: 50px auto;
    width: 70vw;
    max-width: 500px;
}

.header-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    box-shadow: 0px 2px 5px rgb(121, 121, 121);
}

.title-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;
}

.header-icon {
    width: 50px;
    height: 50px;
    fill: white;
}

body {
    margin: 0;
}

.sign-in-button {
    margin: 0.5rem;
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6.5px;
    border-width: 0;
    transition: color .05s ease-in-out,background-color .05s ease-in-out,border-color .05s ease-in-out,box-shadow .05s ease-in-out;
}

.sign-in-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.mainbody-wrapper {
    display:block;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.sub-text {
    font-size: 16px;
    color: #6c757d;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(2.5px);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 400px;
    background-color: white;
    border-radius: 5px;

}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    padding: 15px;
    justify-content: flex-end;
}

.modal-header-text {
    color: black;
    margin: 0;
}

.modal-button {
    font-size: 16px;
    font-weight: 400;
    border-radius: 6.5px;
    border-width: 0px;
    padding: 7.5px 15px ; 
    margin: 0 5px;
    background-color: rgb(105, 105, 105);
    color: white;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.label-container {
    margin-bottom: 1rem;
}

.form-label {
    padding-left: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.input-container {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-weight: 300;
    color: rgb(105, 105, 105);
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.input-container:focus {
    color: var(--text-dark);
    border-color: #20e3b2;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(46, 238, 132, 0.116);
}

.label-text {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    padding-left: 5px;
}

.form-check {
    border-radius: 5px;
    width: 1em;
    height: 1em;
    vertical-align: top;
    margin-top: 0.25em;
}

#cancel-button:hover {
    background-color: rgb(65, 65, 65);
}

#save-button {
    background-color: #20e3b2;
}

#save-button:hover {
    background-color: #1aa582;
}

#icon-credit {
    font-size: 12px;
}

#add-book-button {
    border-radius: 6.5px;
    border-width: 1px;
    padding: 10px 25px ;
    background-color: transparent;
    color: var(--text-dark);
    border-color: var(--text-dark);
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

#add-book-button:hover {
    color: white;
    background-color: var(--text-dark);
    background: var(--text-dark);
}

#footer {
    width: 400px;
}